.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  max-width: 1340px;
  width: 100%;
  min-height: 100px;
  margin: 92px 50px;
  font-family: Raleway;
  font-size: 18px;
}

.header_menu {
  margin-right: 177px;
}

.header_links_list {
  display: flex;
}

.header_links_list_iteam {
  list-style-type: none;
  margin-right: 32px;
}

.header_links_list_iteam_dot {
  list-style: circle;
}

.header_logo {
  display: block;
  width: 148px;
  height: 109px;
  margin-right: 355px;
}

.header_logo-image {
  width: 148px;
  height: 105px;
}

.address {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-size: 18px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px; 
  font-style: normal;
}

.cover {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  width: 1440px;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  color: #fff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  margin: auto;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  opacity: 0.6;
  background: #000;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.cover_content {
  z-index: 0;
}

.cover_title {
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 165px;
}

.aligned-text {
  display: flex;
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
}

.aligned-text_left {
  word-spacing: -20px;
  margin-bottom: 20px;
}

.aligned-text_center {
  justify-content: center;
  word-spacing: -30px;
  line-height: 100%;
  padding-right: 30px;
}

.aligned-text_right {
  justify-content: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.letter-spacing {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  /* text-align: center; */
  align-items: center;
  font-family: Raleway;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 50px;
  margin-top: 130px;
  font-size: 22px;
}

.cover__description-text {
  display: block;
  word-spacing: 20px;
  margin-right: 72px;
}

.bet_button {
  padding: 12px 32px;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  font-size: 22px;
  border-color: #fff;
}

.lots {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 1340px;
  margin: 180px 50px 180px;
  gap: 30px;
}

.lots-heading {
  font-size: 40px;
  font-weight: 700;
  margin-left: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  color: #fff;
}

.lots__card-list-item {
  list-style: none;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: -1;
  width: 430px;
  min-height: 450px;
}

.card__title {
  padding: 50px 40px 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-transform: uppercase;
  text-decoration-line: underline;
  z-index: 1;

}

.card__text {
  padding: 0 40px 50px;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%; /* 24px */
  z-index: 1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image:  url(../images/card-lot-03.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  margin-left: 40px;
}

.about {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 430px 1fr;
  column-gap: 25px;
  width: 1440px;
  padding: 0 50px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 95px;
}

.about__logo-image {
  align-self: center;
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 100px;
  margin-top: 100px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  row-gap: 25px;
  width: 885px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 180px 50px 90px;
}

.footer_menu {
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  list-style: none;
}

.footer_links_list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-right: -15px;
}

.footer_links_list_iteam {
  align-self: center;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: auto;
}